In [1]:
import warnings
warnings.filterwarnings('ignore')

import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)  
pd.set_option('display.expand_frame_repr', False)
pd.set_option('max_colwidth', -1)

In [2]:

df= pd.read_csv("C:/Users/Arup G/Desktop/CRICKET ANALYTICS/CA Masterclass Bonuses/Special Bonus/Data Files/TESTS_ball_by_ball.csv")

In [3]:
df.head(2)

   match_id   season  start_date                        venue  innings  ball batting_team bowling_team    striker non_striker           bowler  runs_off_bat  extras  wides  noballs  byes  legbyes  penalty wicket_type player_dismissed other_wicket_type other_player_dismissed
0  64071     2003/04  2004-03-08  Galle International Stadium  1        60.4  Australia    Sri Lanka    SK Warne   DS Lehmann  M Muralitharan   0             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN              NaN               NaN
1  64071     2003/04  2004-03-08  Galle International Stadium  3        63.3  Australia    Sri Lanka    DR Martyn  ML Hayden   HDPK Dharmasena  0             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN              NaN               NaN

In [4]:
len(df), len(df.columns)

(1319564, 22)

In [5]:
df['start_date'] = pd.to_datetime(df['start_date'])

In [6]:
df['year'] = df['start_date'].dt.year

In [7]:
df.head(2)

   match_id   season start_date                        venue  innings  ball batting_team bowling_team    striker non_striker           bowler  runs_off_bat  extras  wides  noballs  byes  legbyes  penalty wicket_type player_dismissed other_wicket_type other_player_dismissed  year
0  64071     2003/04 2004-03-08  Galle International Stadium  1        60.4  Australia    Sri Lanka    SK Warne   DS Lehmann  M Muralitharan   0             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN              NaN               NaN                    2004
1  64071     2003/04 2004-03-08  Galle International Stadium  3        63.3  Australia    Sri Lanka    DR Martyn  ML Hayden   HDPK Dharmasena  0             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN              NaN               NaN                    2004

In [8]:
df['innings'] = df['innings'].astype('int')

In [9]:
df.innings.unique()

array([1, 3, 2, 4])

In [10]:
df['runs_off_bat'] = df['runs_off_bat'].astype('int')

In [11]:
df['runs_off_bat'].unique()

array([0, 3, 4, 1, 2, 6, 5, 7])

In [12]:
modernera_df = df[(df.year >= 2011) & (df.year <= 2021)]

In [13]:
modernera_df.head(1)

        match_id   season start_date     venue  innings  ball batting_team  bowling_team     striker   non_striker    bowler  runs_off_bat  extras  wides  noballs  byes  legbyes  penalty wicket_type player_dismissed other_wicket_type other_player_dismissed  year
462052  463148    2010/11 2011-01-02  Newlands  4        81.6  India        South Africa  VVS Laxman  SR Tendulkar  M Morkel  0             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN              NaN               NaN                    2011

In [14]:
modernera_df.batting_team.unique()

array(['India', 'South Africa', 'Australia', 'England', 'Pakistan',
       'New Zealand', 'West Indies', 'Sri Lanka', 'Bangladesh',
       'Zimbabwe', 'Ireland', 'Afghanistan'], dtype=object)

In [15]:
modernera_df[modernera_df.batting_team == 'New Zealand']['striker'].unique()

array(['LRPL Taylor', 'MJ Guptill', 'JD Ryder', 'KS Williamson',
       'RA Young', 'DL Vettori', 'BB McCullum', 'TG McIntosh', 'BJ Arnel',
       'CS Martin', 'TG Southee', 'JEC Franklin', 'JS Patel',
       'DG Brownlie', 'BJ Watling', 'DAJ Bracewell', 'TA Boult',
       'CFK van Wyk', 'RJ Nicol', 'MR Gillespie', 'DR Flynn', 'N Wagner',
       'TD Astle', 'C Munro', 'BP Martin', 'PG Fulton', 'HD Rutherford',
       'CJ Anderson', 'IS Sodhi', 'AJ Redmond', 'JDS Neesham',
       'TWM Latham', 'MD Craig', 'MJ Henry', 'L Ronchi', 'MJ Santner',
       'HM Nicholls', 'JA Raval', 'C de Grandhomme', 'NT Broom',
       'TA Blundell', 'AY Patel', 'WER Somerville', 'DJ Mitchell',
       'LH Ferguson', 'GD Phillips', 'KA Jamieson', 'WA Young'],
      dtype=object)

In [16]:
modernera_df.bowling_team.unique()

array(['South Africa', 'India', 'England', 'Australia', 'New Zealand',
       'Pakistan', 'West Indies', 'Sri Lanka', 'Zimbabwe', 'Bangladesh',
       'Ireland', 'Afghanistan'], dtype=object)

In [17]:
modernera_df[modernera_df.bowling_team == 'India']['bowler'].unique()

array(['Z Khan', 'Harbhajan Singh', 'S Sreesanth', 'I Sharma',
       'SR Tendulkar', 'SK Raina', 'P Kumar', 'A Mishra', 'A Mithun',
       'MM Patel', 'A Mukund', 'MS Dhoni', 'Yuvraj Singh', 'RP Singh',
       'PP Ojha', 'UT Yadav', 'R Ashwin', 'V Sehwag', 'VR Aaron',
       'V Kohli', 'R Vinay Kumar', 'RA Jadeja', 'PP Chawla', 'G Gambhir',
       'B Kumar', 'Mohammed Shami', 'M Vijay', 'RG Sharma', 'S Dhawan',
       'STR Binny', 'Pankaj Singh', 'S Pandey', 'J Goswami', 'E Bisht',
       'N Niranjana', 'S Sharma', 'H Kaur', 'KV Sharma', 'CA Pujara',
       'J Yadav', 'KK Nair', 'Kuldeep Yadav', 'HH Pandya', 'JJ Bumrah',
       'GH Vihari', 'SN Thakur', 'S Nadeem', 'Mohammed Siraj', 'NA Saini',
       'T Natarajan', 'Washington Sundar', 'AR Patel'], dtype=object)

In [18]:
TL_df0 = modernera_df[modernera_df.striker  == 'TWM Latham']

In [19]:
TL_df0.head(2)

        match_id   season start_date          venue  innings  ball batting_team bowling_team     striker    non_striker    bowler  runs_off_bat  extras  wides  noballs  byes  legbyes  penalty wicket_type player_dismissed other_wicket_type other_player_dismissed  year
733367  667653    2013/14 2014-02-14  Basin Reserve  1        13.1  New Zealand  India        TWM Latham  KS Williamson  I Sharma  0             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN              NaN               NaN                    2014
733368  667653    2013/14 2014-02-14  Basin Reserve  1        13.2  New Zealand  India        TWM Latham  KS Williamson  I Sharma  0             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN              NaN               NaN                    2014

In [20]:
# Matches = 56
# Runs = 3929
# Balls = 8420
# Dismissed = 93
# Avg = 42.25
# SR = 46.66

In [21]:
len(TL_df0.match_id.unique())

56

In [22]:
sum(TL_df0.runs_off_bat)

3929

In [23]:
len(TL_df0)

8420

In [24]:
len(TL_df0[TL_df0.player_dismissed == 'TWM Latham'])

93

In [25]:
sum(TL_df0.runs_off_bat)/(len(TL_df0[TL_df0.player_dismissed == 'TWM Latham']))

42.24731182795699

In [26]:
100*sum(TL_df0.runs_off_bat)/(len(TL_df0))

46.66270783847981

In [27]:
TL_df = modernera_df[(modernera_df.striker  == 'TWM Latham') & (modernera_df.bowling_team  == 'India')]

In [28]:
TL_df.head(2)

        match_id   season start_date          venue  innings  ball batting_team bowling_team     striker    non_striker    bowler  runs_off_bat  extras  wides  noballs  byes  legbyes  penalty wicket_type player_dismissed other_wicket_type other_player_dismissed  year
733367  667653    2013/14 2014-02-14  Basin Reserve  1        13.1  New Zealand  India        TWM Latham  KS Williamson  I Sharma  0             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN              NaN               NaN                    2014
733368  667653    2013/14 2014-02-14  Basin Reserve  1        13.2  New Zealand  India        TWM Latham  KS Williamson  I Sharma  0             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN              NaN               NaN                    2014

In [29]:
# Matches = 6
# Runs = 345
# Balls = 732
# Dismissed = 11
# Avg = 31.36
# SR = 47.13

In [30]:
len(TL_df.match_id.unique())

6

In [31]:
sum(TL_df.runs_off_bat)

345

In [32]:
len(TL_df)

732

In [33]:
len(TL_df[TL_df.player_dismissed == 'TWM Latham'])

11

In [34]:
sum(TL_df.runs_off_bat)/(len(TL_df[TL_df.player_dismissed == 'TWM Latham']))

31.363636363636363

In [35]:
100*sum(TL_df.runs_off_bat)/(len(TL_df))

47.131147540983605

In [36]:
TL_df1 = modernera_df[(modernera_df.striker  == 'TWM Latham') & (modernera_df.bowler  == 'Mohammed Shami')]

In [37]:
TL_df1.head(1)

        match_id   season start_date          venue  innings  ball batting_team bowling_team     striker  non_striker          bowler  runs_off_bat  extras  wides  noballs  byes  legbyes  penalty wicket_type player_dismissed other_wicket_type other_player_dismissed  year
733667  667653    2013/14 2014-02-14  Basin Reserve  3        17.1  New Zealand  India        TWM Latham  BB McCullum  Mohammed Shami  4             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN              NaN               NaN                    2014

In [38]:
# Matches = 6
# Runs = 82
# Balls = 172
# Dismissed = 3
# Avg = 27.33
# SR = 47.67

In [39]:
len(TL_df1.match_id.unique())

6

In [40]:
sum(TL_df1.runs_off_bat)

82

In [41]:
len(TL_df1)

172

In [42]:
len(TL_df1[TL_df1.player_dismissed == 'TWM Latham'])

3

In [43]:
sum(TL_df1.runs_off_bat)/(len(TL_df1[TL_df1.player_dismissed == 'TWM Latham']))

27.333333333333332

In [44]:
100*sum(TL_df1.runs_off_bat)/(len(TL_df1))

47.674418604651166

In [45]:
TL_df2 = modernera_df[(modernera_df.striker  == 'TWM Latham') & (modernera_df.bowler  == 'I Sharma')]

In [46]:
TL_df2.head(1)

        match_id   season start_date          venue  innings  ball batting_team bowling_team     striker    non_striker    bowler  runs_off_bat  extras  wides  noballs  byes  legbyes  penalty wicket_type player_dismissed other_wicket_type other_player_dismissed  year
733367  667653    2013/14 2014-02-14  Basin Reserve  1        13.1  New Zealand  India        TWM Latham  KS Williamson  I Sharma  0             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN              NaN               NaN                    2014

In [47]:
# Matches = 2
# Runs = 9
# Balls = 36
# Dismissed = 2
# Avg = 4.5
# SR = 25

In [48]:
len(TL_df2.match_id.unique())

2

In [49]:
sum(TL_df2.runs_off_bat)

9

In [50]:
len(TL_df2)

36

In [51]:
len(TL_df2[TL_df2.player_dismissed == 'TWM Latham'])

2

In [52]:
sum(TL_df2.runs_off_bat)/(len(TL_df2[TL_df2.player_dismissed == 'TWM Latham']))

4.5

In [53]:
100*sum(TL_df2.runs_off_bat)/(len(TL_df2))

25.0

In [54]:
TL_df3 = modernera_df[(modernera_df.striker  == 'TWM Latham') & (modernera_df.bowler  == 'JJ Bumrah')]

In [55]:
TL_df3.head(1)

         match_id   season start_date          venue  innings  ball batting_team bowling_team     striker  non_striker     bowler  runs_off_bat  extras  wides  noballs  byes  legbyes  penalty wicket_type player_dismissed other_wicket_type other_player_dismissed  year
1251262  1187685   2019/20 2020-02-21  Basin Reserve  2        6.6   New Zealand  India        TWM Latham  TA Blundell  JJ Bumrah  0             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN              NaN               NaN                    2020

In [56]:
# Matches = 2
# Runs = 44
# Balls = 85
# Dismissed = 0
# Avg = Na
# SR = 51.76

In [57]:
len(TL_df3.match_id.unique())

2

In [58]:
sum(TL_df3.runs_off_bat)

44

In [59]:
len(TL_df3)

85

In [60]:
len(TL_df3[TL_df3.player_dismissed == 'TWM Latham'])

0

In [61]:
100*sum(TL_df3.runs_off_bat)/(len(TL_df3))

51.76470588235294

In [62]:
TL_df4 = modernera_df[(modernera_df.striker  == 'TWM Latham') & (modernera_df.bowler  == 'R Ashwin')]

In [63]:
TL_df4.head(1)

        match_id   season start_date       venue  innings  ball batting_team bowling_team     striker    non_striker    bowler  runs_off_bat  extras  wides  noballs  byes  legbyes  penalty wicket_type player_dismissed other_wicket_type other_player_dismissed  year
933539  1030213   2016/17 2016-09-22  Green Park  2        31.3  New Zealand  India        TWM Latham  KS Williamson  R Ashwin  1             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN              NaN               NaN                    2016

In [64]:
# Matches = 3
# Runs = 77
# Balls = 149
# Dismissed = 4
# Avg = 19.25
# SR = 51.68

In [65]:
len(TL_df4.match_id.unique())

3

In [66]:
sum(TL_df4.runs_off_bat)

77

In [67]:
len(TL_df4)

149

In [68]:
len(TL_df4[TL_df4.player_dismissed == 'TWM Latham'])

4

In [69]:
sum(TL_df4.runs_off_bat)/(len(TL_df4[TL_df4.player_dismissed == 'TWM Latham']))

19.25

In [70]:
100*sum(TL_df4.runs_off_bat)/(len(TL_df4))

51.67785234899329

In [71]:
TL_df5 = modernera_df[(modernera_df.striker  == 'TWM Latham') & (modernera_df.bowler  == 'RA Jadeja')]

In [72]:
TL_df5.head(1)

        match_id   season start_date          venue  innings  ball batting_team bowling_team     striker  non_striker     bowler  runs_off_bat  extras  wides  noballs  byes  legbyes  penalty wicket_type player_dismissed other_wicket_type other_player_dismissed  year
733912  667653    2013/14 2014-02-14  Basin Reserve  3        31.4  New Zealand  India        TWM Latham  BB McCullum  RA Jadeja  0             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN              NaN               NaN                    2014

In [73]:
# Matches = 5
# Runs = 64
# Balls = 128
# Dismissed = 0
# Avg = Na
# SR = 50

In [74]:
len(TL_df5.match_id.unique())

5

In [75]:
sum(TL_df5.runs_off_bat)

64

In [76]:
len(TL_df5)

128

In [77]:
len(TL_df5[TL_df5.player_dismissed == 'TWM Latham'])

0

In [78]:
100*sum(TL_df5.runs_off_bat)/(len(TL_df5))

50.0